@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin scrollBar {
  &::-webkit-scrollbar-track-piece {
    background: #d3dce6;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #99a9bf;
    border-radius: 20px;
  }
}
@mixin backgroundImage($url) {
  background: url(#{$url});
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
@mixin widthHeightFull {
  width: 100%;
  height: 100%;
}
@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}
@mixin float($target) {
  float: $target;
}
@mixin relative {
  position: relative;
  width: 100%;
  height: 100%;
}
// 单行显示省略号
@mixin ellipse {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin pct($width, $height) {
  width: #{$width};
  height: #{$height};
  position: relative;
  margin: 0 auto;
}

@mixin positionAbsolute($top, $bottom, $left, $right) {
  position: absolute;
  top: #{$top};
  bottom: #{$bottom};
  left: #{$left};
  right: #{$right};
}

@mixin triangle($width, $height, $color, $direction) {
  $width: $width/2;
  $color-border-style: $height solid $color;
  $transparent-border-style: $width solid transparent;
  height: 0;
  width: 0;

  @if $direction==up {
    border-bottom: $color-border-style;
    border-left: $transparent-border-style;
    border-right: $transparent-border-style;
  }

  @else if $direction==right {
    border-left: $color-border-style;
    border-top: $transparent-border-style;
    border-bottom: $transparent-border-style;
  }

  @else if $direction==down {
    border-top: $color-border-style;
    border-left: $transparent-border-style;
    border-right: $transparent-border-style;
  }

  @else if $direction==left {
    border-right: $color-border-style;
    border-top: $transparent-border-style;
    border-bottom: $transparent-border-style;
  }
}
